@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: blueviolet;

}


.login {
    /* display: none; */
    position: relative;
    max-width: 450px;
    margin: 120px auto;
    width: 390px;
    background-color: bisque;
    border-radius: 25px;
    padding: 25px;
    min-height: 300px;
    height: 450px;
    background-image: url(./img/iStock-1173780504.jpg);

}

.login.login-up {
    display: none;
}

.content {
    position: absolute;
    width: 50%;
    margin-top: 44px;
    height: 200px;
    left: 50%;
}

.content span {
    color: green;
}

#username {
    margin-bottom: 8px;

}

#userpassword {
    margin-bottom: 8px;
}


.login-input {
    position: absolute;
    top: 100%;
    width: 90px;
    height: 45px;
    right: 24px;
    background-color: palevioletred;
    color: white;
    border: 2px solid bisque;
    border-radius: 12px;
    opacity: 0.6;
}

.login-input.in {
    opacity: 1;
}


.login-input:hover {
    opacity: 1;
    background-color: rgb(60, 179, 113);

}


.wrapper {
    position: relative;
    max-width: 450px;
    margin: 120px auto;
    width: 390px;
    background-color: bisque;
    border-radius: 25px;
    padding: 25px;
    height: 450px;
    min-height: 300px;
    display: none;
}

.wrapper.todoactive {
    display: block;
}


.user {
    position: relative;
    font-size: 20px;
    height: 24px;
    margin-bottom: 12px;
}

.btn-setting {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 13px;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 20px;
    right: 0px;
}


.wrapper header {
    font-size: 28px;
    margin-bottom: 12px;
}

.input-Field {
    display: flex;
    height: 26px;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
}

.getinput {
    width: 80%;
    height: 26px;
    border-radius: 4px;
    padding-left: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
}

.addtasks {
    position: absolute;
    right: 0px;
    background-color: black;
    color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 26px;
    width: 26px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.addtasks.active {
    opacity: 1;
    pointer-events: auto;

}

h3 {
    letter-spacing: 1px;
    margin-bottom: 8px;
    opacity: 0.7;
    font-weight: 600;
    font-size: 25px;
}

.todoList {
    overflow: hidden;
}

.tasks {
    width: 100%;
    height: 52px;
    margin-bottom: 12px;
    background-color: pink;
    border-radius: 20px;
    position: relative;
}

.process {
    position: absolute;
    right: 8px;
    height: 36px;
    top: 8px;
    left: 8px;
    border-radius: 20px;
    color: white;
    background-color: darkcyan;
    overflow: hidden;

}

.process span {
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 18px;
    overflow: hidden;
}

.todoList .done {
    background-color: green;
    border: 1px solid white;
}

.todoList .failed {
    background-color: red;
    border: 1px solid white;
}

.checked {
    position: absolute;
    right: 80px;
    top: 14px;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.unchecked {
    position: absolute;
    right: 48px;
    top: 14px;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.remove {
    position: absolute;
    right: 16px;
    top: 14px;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}


.checked:hover {
    background-color: green;
    color: white;
    border: 2px solid white;
}

.unchecked:hover {
    background-color: red;
    color: white;
    border: 2px solid white;
}

.remove:hover {
    background-color: #ccc;
    color: white;
    border: 2px solid white;
}

.wrapper .footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.footer span {
    font-size: 18px;
    color: black;
    opacity: 0.8;
}

.footer button {
    position: absolute;
    right: 12%;
    border: none;
    outline: none;
    background: darkcyan;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 15px;
    opacity: 1;
    pointer-events: none;
}

.footer button.active {
    background: red;
    color: white;
}


.logout {
    display: none;
    position: absolute;
    width: 100px;
    height: 150px;
    background-color: white;
    top: 50px;
    right: 22px;
    box-shadow: 12px;
}

.logout.logout-out {
    display: block;
    box-shadow: 8px 8px;
}


.logout button {
    height: 25%;
    width: 100%;
    background-color: white;
    border: solid white;
}

.logout button:hover{
    background-color: #ccc;
}

.wrapper.logout-setting{
    background-color: #ccc;
}

.getinput.logout-setting{
    background-color: #ccc;
}
